# Ignore everything by default.
*

# Allowlisted deployment networks.
!/deployments/goerli/**
!/deployments/mainnet/**
!/deployments/sepolia/**

# Allow everything in /contracts ...
!/src/**

# Should we be ignoring this?
/foundry.toml