# Ignore everything by default.
*

# Allowlisted deployment networks.
!/deployments/goerli/**
!/deployments/mainnet/**
!/deployments/sepolia/**

# Allow everything in /contracts ...
!/contracts/**
# ... except tests
/contracts/test/**
/contracts/system_tests/**
/foundry.toml
